<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
		<mapping>
			<level value="ERROR" />
			<forecolor value="Red" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<forecolor value="Yellow" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<!-- <conversionPattern value="%-5level: %d %c [%t]%n       %m%n" /> -->
			<conversionPattern value="%-5level: %d [%t] %properties %c - %m%n" />
		</layout>
	</appender>
	<logger name="OPCAIC.Messaging" additivity="false">
		<level value="OFF" />
	</logger>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4net>